.App {
  text-align: center;
  background: rgb(251, 251, 251);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

.post-image-div {
  width: 100%;
  height: 100%;
}

.post-image {
  width:100%;
}

.post-div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 50%;
  border: 1px solid lightgray;
  margin: 30px 0;
}

.post-header {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.comment-box {
  border: none;
  height: 50px;
  width: 89%;
  margin-left: 10px;
}

.comment-box:focus {
  outline: none;
}
.comment-btn {
  border: none;
  background: none;
  color: #3897f0;
  margin-right: 10px;
}

.comment-btn-grayed {
  border:none;
  background:none;
  color:lightblue;
  margin-right: 10px;
}

.comment-btn:focus{
  outline: none
}

.comment-form {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.comment {
  display: inline;
  margin: 0px 0px 0px 10px;
}

.title-div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
}

.comments-div {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-flow: row wrap;
  width: 100%;
  margin-bottom: 20px;
}

.nav {
  height: 75px;
  background: white;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid lightgray;
  margin-bottom: 20px;
  position: fixed;
}

.nav-header {
  width: 100%;
}

.post-user {
  margin-left: 10px;
}
.nav-item {
  margin: 0 10px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  text-decoration: underline;
  font-weight: 600;
}

.nav-right {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.logo-h1 {
  font-family: 'Lobster',cursive;
  font-weight: 100;
  font-size: 1.5rem;
  text-decoration: none;
  color:black;  
}

.post-div:first-of-type {
  margin-top:120px;
}